write_csv should quote carriage return '\r' in output to satisfy RFC 4180

### Checks

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the [latest version](https://pypi.org/project/polars/) of Polars.

### Reproducible example

```python
df = pl.DataFrame({"test": ["normal", "with\rcr"]})
df.write_csv("mwe.csv", line_terminator="\r\n")
```

The line terminator specification is as required by the RFC. That's another way polars is not RFC 4180-compliant by default but I'm not really concerned about that since it doesn't cause issues in practice.

I've attached the output [here](https://github.com/pola-rs/polars/files/14785699/mwe.csv).

### Log output

_No response_

### Issue description

The definition in the RFC states

> Fields containing line breaks (CRLF), double quotes, and commas should be enclosed in double-quotes.

which seems to suggest (but doesn't formally state) that carriage returns don't have to be quoted. However, the ABNF defines it differently, clearly requiring bare CRs to be quoted:

```
escaped = DQUOTE *(TEXTDATA / COMMA / CR / LF / 2DQUOTE) DQUOTE
non-escaped = *TEXTDATA

...

COMMA = %x2C
CR = %x0D ;as per section 6.1 of RFC 2234 [2]
DQUOTE =  %x22 ;as per section 6.1 of RFC 2234 [2]
LF = %x0A ;as per section 6.1 of RFC 2234 [2]
CRLF = CR LF ;as per section 6.1 of RFC 2234 [2]
TEXTDATA =  %x20-21 / %x23-2B / %x2D-7E
```

I think it's better to follow the grammar here since it can't hurt and makes our output more conservative. For example, the current behavior trips up Google Sheets import.

### Expected behavior

Should output something like

```
test
normal
"withCR
cr"
```

where CR is of course carriage return

### Installed versions

<details>

```
--------Version info---------
Polars:               0.20.16
Index type:           UInt32
Platform:             Linux-6.7.10-100.fc38.x86_64-x86_64-with-glibc2.37
Python:               3.11.8 (main, Feb 28 2024, 00:00:00) [GCC 13.2.1 20231011 (Red Hat 13.2.1-4)]

----Optional dependencies----
adbc_driver_manager:  <not installed>
cloudpickle:          <not installed>
connectorx:           <not installed>
deltalake:            <not installed>
fastexcel:            <not installed>
fsspec:               <not installed>
gevent:               <not installed>
hvplot:               0.9.2
matplotlib:           <not installed>
numpy:                1.26.4
openpyxl:             <not installed>
pandas:               2.2.1
pyarrow:              15.0.2
pydantic:             <not installed>
pyiceberg:            <not installed>
pyxlsb:               <not installed>
sqlalchemy:           2.0.29
xlsx2csv:             <not installed>
xlsxwriter:           <not installed>
```

</details>


Yeap, good observation. Fix coming up.

This issue has indeed been fixed. However, I still have to deal with some CR characters that are crawled by web crawlers. Here is a code I shared to filter out all CR except CRLF.


```python
def read_csv(filename, *, sample_n=None):
    from loguru import logger
    import polars as pl
    import io
    import tempfile
    import time
    import os
    
    logger.debug('Called read csv {}', filename)

    logger.debug('Start checking CRLF')
    s = []
    is_crlf = False
    with open(filename, mode='rb') as f:
        while True:
            s.append(f.read(1))
            if s[-1] != '\n'.encode():
                continue
            if len(s) >= 2 and s[-2] == '\r'.encode():
                is_crlf = True
            logger.debug('CRLF checking , is_crlf is {} , s[-2] is {}', is_crlf, s[-2])
            if is_crlf:
                logger.debug('the line endswith CRLF is {}', s)
            break

    logger.debug('Finish checking CRLF , is_crlf is {} , Start check invalid CR', is_crlf)
    have_invalid_cr = False
    loop_count = 0
    with open(filename, mode='rb') as f:
        while not have_invalid_cr:
            loop_count += 1
            arr = f.read(2**20)
            if len(arr) == 0:
                logger.debug('End')
                break
            # logger.debug('... checking loop {} , len(arr) is {}', loop_count, len(arr))
            for i in range(0, len(arr)):
                c = arr[i]
                if c == int.from_bytes('\r'.encode(), "big"):
                    if not is_crlf:
                        logger.debug('Found invalid CR in file that is not CRLF , arr bytes is {}', arr)
                        have_invalid_cr = True
                        break
                    if i+1<len(arr):
                        have_invalid_cr = arr[i+1] != int.from_bytes('\n'.encode(), "big")
                        if have_invalid_cr:
                            logger.debug('Found invalid CR in file that is CRLF , arr bytes is {}', arr)
                            break
                    if i+1>=len(arr):
                        next_arr = f.read(1)
                        if len(next_arr) == 0:
                            logger.debug('End on check CR invalid')
                            have_invalid_cr = True
                            logger.debug('Found invalid CR at last byte in file that is CRLF , next_arr is {}, arr bytes is {}', next_arr, arr)
                            break
                        have_invalid_cr = next_arr[0] != int.from_bytes('\n'.encode(), "big")
                        if have_invalid_cr:
                            logger.debug('Found invalid CR in file that is CRLF , next_arr is {}, arr bytes is {}', next_arr, arr)
                            break
    
    logger.debug('Finish checking invalid CR , have_invalid_cr is {}', have_invalid_cr)
    new_filename = None
    if have_invalid_cr:
        logger.debug('Start copy without CR from filename {}', filename)
        tmp = tempfile.NamedTemporaryFile(prefix=f".without-cr-", suffix='-'+os.path.basename(filename), delete=False)
        new_filename = tmp.name
        logger.warning('File contains invalid CR , copy file without CR to {}', new_filename)
        with open(tmp.name, 'wb') as tf:
            with open(filename, 'rb') as f2:
                while True:
                    readed = f2.read(2**20)
                    if len(readed) == 0:
                        break
                    res = bytes(filter(lambda b: b != int.from_bytes('\r'.encode(), "big"), readed))
                    if len(res) != len(readed):
                        logger.debug('filtered , len(res) is {} , len(readed) is {}', len(res), len(readed))
                    tf.write(res)
        logger.debug('Finish copy without CR , new_filename is {}', new_filename)


    if is_crlf and not have_invalid_cr:
        logger.debug('File is CRLF but not have invalid cr , that\'s good , file is {}', filename)
    
        
    options = dict()
    if sample_n is not None:
        options['sample_size'] = sample_n

    source = filename if new_filename is None else new_filename
    logger.debug('Start polars read csv , source is {} , options is {}', source, options)
    df = pl.read_csv(source,
                     infer_schema_length=0, # read all columns as pl.String
                     **options
                     )
    
    logger.debug('Finish read csv {} , len(df) is {} , df:\n{}', source, len(df), df)
    return df
```